* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
}

#root {
  max-width: 100%;
  background-color: black;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  /* padding: 0; */
  /* text-align: center; */

  >.alarm-home-container {
    color: #F9F9F9;
    height: 800px;
    margin-inline-start: 24px;
    margin-inline-end: 24px;
    border: 1px solid gold;

    >h1 {
      font-size: 30px;
      margin-block-end: 10px
    };

    >.line {
      transform: scale(1, 0.2);
      color: #F9F9F9;
    }

    >.btn-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-block-end: 20px;

      >button {
        border-radius: 0;
        color: orange;
        border: none;
        background: none;
      };
    };

    >.other-alarms-container {
      margin-block-start: 20px;

      >.line {
        transform: scale(1, 0.2);
        margin-block-start: 10px;

      }
    }
  };

  >.alarm-container {
    width: 100%;

    >.alarm-setting-btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-block-start: 10px;

      >button {
        border-radius: 0;
        color: orange;
        border: none;
        background: none;
        outline: none
      };

      >h1 {
        font-size: 30px;
      }
    };

    >.time-picker {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-block-end: 20px;

      .react-time-picker__inputGroup {
        display: flex;
        align-items: center;
      }

      .react-time-picker__inputGroup__input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        width: 100px;
        border-radius: 5px;
      }

      .react-time-picker__inputGroup__input:focus {
        outline: none;
        border-color: #007bff;
      }

      .react-time-picker__inputGroup__divider {
        color: #ccc;
        width: 15px;
        margin-inline-start: 15px;
      }

      .react-time-picker__clear-button.react-time-picker__button {
        display: none;
      }

      .react-time-picker__clock-button {
        display: none;
      }

    };

    >.func-container {
      border: none;
      width: 94%;
      /* margin-inline-start: 13px; */
      height: 195px;
      background-color: #222222;
      border-radius: 10px;
      padding: 7px;
      margin: 0 auto;

      .repeat-container {

        .repeat-label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-inline-start: 20px;
          margin-inline-end: 20px;
          font-size: 18px;
          color: #fff;
          max-width: 100%;
          font-weight: 450;
          cursor: pointer;
          height: 40px;

          > div {
            color: #ccc;
          }

          .show-never {
            color: #ccc;
            font-size: 17px;
            position: relative;
            margin-inline-end: 10px;

            .chevron-right {
              position: absolute;
              top: 7px;
              left: 50px;
              font-size: 15px
            }
          }
        };
      }

      >.line {
        transform: scale(1, 0.2);
        color: #F9F9F9;
        margin-block-start: 5px;
        margin-inline-start: 20px;
        width: 95.8%;
      };

      >.label-container {
        margin-inline-start: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #fff;
        max-width: 100%;
        font-weight: 450;
        cursor: pointer;
        height: 40px;
        gap: 10px;

        .label-input {
          height: 35px;
          border: none;
          background-color: transparent;
          width: 100%;
          cursor: pointer;
          text-align: right;
          padding-right: 20px;
          caret-color: orange;
          caret-shape: block;
          font-size: 18px;
          color: #ccc;
        };

        .clear-text {
          color: #222222;
          background-color: #3B3B3B;
          width: 30px;
          border-radius: 50px;
          text-align: center;
          transform: scale(0.7, 0.7);
          margin-inline-end: 10px;
          cursor: pointer;
          /* display: none; */
        }

        .label-input::placeholder {
          font-size: 16px;
          text-align: end;
        };

        .label-input:focus {
          border: none;
          outline: none;
        }
      }

      .sound-container {
        margin-inline-start: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #fff;
        max-width: 100%;
        font-weight: 450;
        cursor: pointer;
        height: 40px;
        gap: 10px;

        .alarm-sound-label {
          color: #ccc;
            font-size: 17px;
            position: relative;
            margin-inline-end: 35px;
          
            .chevron-right {
              position: absolute;
              top: 6px;
              left: 111px;
              font-size: 15px
            }
        }
      };

      .snooze-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: #fff;
        height: 40px;
        max-width: 100%;
        margin-inline-start: 20px;

        .switch {
          margin-block-start: 5px;
          margin-inline-end: 15px;
        }
      }

      
    }
  }

}